/*================================================
Featured Boxes Area CSS
=================================================*/
.featured-boxes-area {
  position: relative;
  z-index: 1;
  margin-top: -100px;
  margin-bottom: 50px;
}

.featured-boxes-inner {
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
}

.featured-boxes-inner .col-lg-3 {
  border-right: 1px solid #eeeeee;
}

.featured-boxes-inner .col-lg-3:last-child {
  border-right: none;
}

.single-featured-box {
  text-align: center;
  position: relative;
  padding: 75px 25px 40px 25px;
  overflow: hidden;
}

.single-featured-box .icon {
  -webkit-transition: .4s;
  transition: .4s;
  color: #ee0979;
  position: absolute;
  top: 40px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  margin-top: -12px;
}

.single-featured-box .icon i::before {
  font-size: 55px;
}

.single-featured-box .icon.color-fb7756 {
  color: #fb7756;
}

.single-featured-box .icon.color-facd60 {
  color: #facd60;
}

.single-featured-box .icon.color-1ac0c6 {
  color: #1ac0c6;
}

.single-featured-box h3 {
  -webkit-transition: .4s;
  transition: .4s;
  margin-bottom: 0;
  font-size: 20px;
  margin-top: 20px;
}

.single-featured-box .p {
  -webkit-transition: .4s;
  transition: .4s;
  font-size: 15px;
  margin-top: 12px;
  margin-bottom: 0;
}

.single-featured-box .read-more-btn {
  background: -webkit-gradient(linear, left top, right top, from(#ee0979), to(#ff6a00));
  background: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .6;
  transition: .6;
  font-size: 15px;
  font-weight: 400;
}

.single-featured-box .read-more-btn::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#ee0979), to(#ff6a00));
  background: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
}

.single-featured-box .read-more-btn:hover::before {
  width: 100%;
}

.single-featured-box:hover .icon {
  top: 23px;
  -webkit-animation: iconTop 0.4s ease-in-out;
          animation: iconTop 0.4s ease-in-out;
}

.single-featured-box:hover h3 {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.single-featured-box:hover .p {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.single-featured-box:hover .read-more-btn {
  opacity: 1;
  visibility: visible;
  bottom: 23px;
}

@-webkit-keyframes iconTop {
  0% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  25% {
    opacity: 0;
    -webkit-transform: translate(-50%, -70%);
            transform: translate(-50%, -70%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-50%, -40%);
            transform: translate(-50%, -40%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@keyframes iconTop {
  0% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  25% {
    opacity: 0;
    -webkit-transform: translate(-50%, -70%);
            transform: translate(-50%, -70%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-50%, -40%);
            transform: translate(-50%, -40%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}